<div class="confirmation_message text-center">
  <h1>PARALYSIS</h1>
  <h2><%=@game.current_player.name %> paralysed <%=@game.opponent.name%></h2>
  <h3><%=@game.opponent.name%> misses a turn</h3>
  <a class="btn btn-primary" href="/play">OK</a>
</div>
